
<div class="modal-header popheader p-3">
  <h4 class="modal-title">Vereinnahmung </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeVerinnahmungModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body popbody p-3">
  <div class="container-fluid">
    <div class="col-md-12 p-0">
      <h4>Was möchten Sie tun?</h4>
    </div>
    <div class="row">
      <div style="overflow: auto;" class="col p-2 ">
        <lib-ds-sendungskorrektur (sendCorrectedValues)="putCorrectedValues($event)" [allowedDienste]="dienste"
                                  [shipmentInfos]="shipmentInfo"></lib-ds-sendungskorrektur>
      </div>
      <div class="col p-2" style="cursor: pointer">
        <div>
          <app-bruch-modal [searchTextBruch]="searchText" (confirm)="clearBruchSearchText()"></app-bruch-modal>
        </div>
      </div>
      <div class="col p-2" style="cursor: pointer">
        <div>
          <app-umdispo-modal [searchText]="searchText" (clearSearchTextUmdispo)="clearUmdispoSearchText()"></app-umdispo-modal>
        </div>
      </div>
      <div class="col-12 p-2" style="cursor: pointer">
        <div class="col-md-4 btn btsm btn-sq-lg-bt btn-lightdark btcentr text-capitalize"
             (click)="redirectToShipment()">Sendungsdetails anschauen
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer popfooter">
</div>
