.table-container{
    height: 100%;
}

.card {
  top: 10px;
}

.card-body {
    height: 800px;
}
.timePosition{
  margin-top: 10px;
  margin-bottom: -5px;
  text-align: center;
  height: 25px;
}

.buttonPosition {
  margin-top: -40px;
}
