@import "./../../../scss/variables";

.snack-containter {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: $toastPrimary;
  color: $black;
  border-radius: 0.5rem !important;
  padding: 0px 15px 15px 15px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  margin-bottom: 1rem;
  width: auto;

  .titleClass {
    border-bottom: 1px solid;
    margin-top: 0.5rem;
    padding: 2px;
    margin-bottom: 0.5rem;
  }

  .bodyClass {
    text-align: center;
  }

  .buttonClass {
    text-align: center;
    margin-top: 0.1rem;

    .scan-btn {
      border-radius: 5px;
      padding: 3px 15px;
      font-size: 0.7rem;
      text-transform: none;
    }

  }

}
