<meta charset="utf-8" >
<div role="alertdialog" aria-live="polite" class="" charset="utf-8">
    <div class="snack-containter">
        <div class="titleClass">Informationen</div>
        <div class="bodyClass">
            {{message}}
        </div>
        <div class="buttonClass">
            <button type="button" class="btn btsm btn-outline-primary active scan-btn" aria-pressed="true"
                (click)="action($event)">
                Ok
            </button>
        </div>
    </div>
</div>
