// Variable overrides
/*

Bootstrap Variablen überschreiben

  das Überschreiben von Variablen funktioniert mit SCSS etwas anders als mit LESS:

  um den Wert einer Variablen zu ändern, kopiert man diese aus _variables-bootstrap.scss in hier rein,
  entfernt am Ende der Zeile das '!default' und passt den Wert an.

*/

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1330px
);

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa; // #f8f9fa !default;
$gray-200: #f6f6f6; // #e9ecef !default;
$gray-300: #dadada; // #dee2e6 !default;
$gray-400: #e7e8ea !default;
$gray-500: #cecfd1; // #adb5bd !default;
$gray-600: #aab0b0;
$gray-700: #c9d1d4; // #495057 !default;
$gray-800: #96a7b1 !default;
$gray-900: #5a7882; // #212529 !default;
$gray: #626a6d; // #212529 !default;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(

    (
      '100': $gray-100,
      '200': $gray-200,
      '300': $gray-300,
      '400': $gray-400,
      '500': $gray-500,
      '600': $gray-600,
      '700': $gray-700,
      '800': $gray-800,
      '900': $gray-900
    ),
    $grays
);

$light-blue: #e9edf9 !default;
$blue: #3ec1ef !default;
$blue-500: #a3dcfa !default;
$blue-300: #d7ecfd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #F9420C !default;
$orange: #f27e00; //#fd7e14 !default;
$yellow: #ffcb01 !default;
$yellow-500: #fee07d !default;
$yellow-300: #fdefc8 !default;
$green: #93c21a !default;
$green-500: #c3d984 !default;
$green-300: #e5ebc9 !default;
$teal: #20c997 !default;
$cyan: #3DF3F4 !default;
$dark: #626a6d !default;

$colors: () !default;
$colors: map-merge(

    (
      'blue': $blue,
      'indigo': $indigo,
      'purple': $purple,
      'pink': $pink,
      'red': $red,
      'orange': $orange,
      'yellow': $yellow,
      'green': $green,
      'teal': $teal,
      'cyan': $cyan,
      'white': $white,
      'gray': $gray-600,
      'gray-dark': $gray-800
    ),
    $colors
);

$primary: $orange; //$blue !default;
$secondary: $blue; //$gray-600 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(

    (
      'primary': $primary,
      'secondary': $secondary,
      'success': $success,
      'info': $info,
      'warning': $warning,
      'danger': $danger,
      'light': $light,
      'dark': $dark
    ),
    $theme-colors
);

// Components
//
// Define common padding and border radius sizes and more.

$sidebar-bg: $dark !default;

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$border-width: 1px !default;
$border-color: $gray-200 !default;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.813rem; // 0.3rem !default;
$border-radius-sm: 0.2rem !default;

$component-active-color: $white !default;
//$component-active-bg: theme-color('primary') !default;

$caret-width: 0.3em !default;

$transition-base: all 0.4s ease-in-out; // all 0.2s ease-in-out !default;
//$transition-fade: opacity 0.15s linear !default;
//$transition-collapse: height 0.35s ease !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'PT Sans', sans-serif;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.313) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.625; // 42px
$h2-font-size: $font-size-base * 2; // 32px
$h3-font-size: $font-size-base * 1.375; // 22px
$h4-font-size: $font-size-base * 1.25; // 20px
$h5-font-size: $font-size-base * 1.125; // 18px
$h6-font-size: $font-size-base !default;

$font-size-xl: $font-size-base * 1.6875; // 27px
$font-size-lg: $font-size-base * 1.3125; // 21px

//Forms
$input-border-color: $gray-500;

//Process
$progress-bg: $gray-300;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-focus-width: 0.2rem !default;
//$input-btn-focus-color: rgba(theme-color('primary'), 0.25) !default;
//$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-line-height-sm: $line-height-sm !default;

$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-line-height-lg: $line-height-lg !default;

$btn-font-weight: $font-weight-bold; //$font-weight-normal !default;
//$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075) !default;
//$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125) !default;

$btn-link-disabled-color: $gray-600 !default;

$btn-block-spacing-y: 0.5rem !default;

$border-radius: .813rem;
$border-radius-lg: .813rem;
$border-radius-sm: .813rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius-lg; // $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

$btn-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
box-shadow 0.15s ease-in-out !default;

$border-width: 1px;

//Custom Variables

$primary-light: #f9b71b;
$primary-lighter: #f9be80;
$primary-dark: #f39612;
$radial-gradient: radial-gradient(ellipse at center, $primary-light 0%, $primary-dark 100%);
$radial-gradient-gray: radial-gradient(ellipse at center, #f4f6f8 0%, #d9e1e6 100%);
$linear-gradient: linear-gradient(to right, $primary-dark 0%, $primary-light 100%);
$linear-gradient-45: linear-gradient(135deg, $primary-light 0%, $primary-dark 100%);
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-display: 'Days', serif;
