
#map {
  height: 100%;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  font-size: 28px;
  margin: 0;
  width: 400px;
  top: calc(50% - 20px);
  left: calc(50% - 200px);
  z-index: 10000;
  text-align: center;
  // color: #f27e00;
}
