.tour-info-container {
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid darken(white, 15%);
}

.suminfo {
  min-width: 250px;
  font-size: 14px;
  margin-left: 15px;
}

.time {
  color: black;
}

.tourinfo {
  font-size: 14px;
}
.imgCss {
  margin-bottom: 2px !important;
  height: 10px;
  width: 19px;
}
