.nav-item {
  font-size: 14px;
  color: black;
  border-left: 1px solid darken(#ffffff, 10%);
  border-right: 1px solid darken(#ffffff, 10%);
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
    background: rgb(242, 241, 241);
    background: linear-gradient(180deg, rgba(205, 205, 205, 0.4) 0%, rgba(232, 230, 230, 0) 100%);
    border-left: 1px solid darken(#ffffff, 30%);
    border-right: 1px solid darken(#ffffff, 30%);
  }

  .fa-filter {
    font-size: 12px;
  }
}

.spontaneous-takeover-container {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #d9d9d9;
  //height: 700px;
}
