.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  line-height: 15px;
}

.circle span {
  white-space: nowrap;
  margin-left: 22px;

}

.sendungenHeader {
  margin-bottom: 10px !important;
  margin-left: 167px;
}

.circle-position {
  margin-left: 185px !important;
}


