<div class="container  text-center mt-5 mb-5" style="position: absolute">


</div>

<div class="container-fluid" style="position: relative;height: 100%;">

    <h1 style="text-align: center;" >Welcome To Customer Application</h1>


  <!-- Content here -->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div>-->
<!--      <button type="button" class="btn btn-primary" (click)="navigateToCustomerList()">Customer List</button>-->
<!--    </div>-->
<!--  </nav>-->
  <div class="container" style="position: absolute;top: 50px;">
  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" height: 10px;">
      <!-- Container wrapper -->

      <button type="button" class="btn btn-primary button-customer" style="position: relative" (click)="navigateToCustomerList()">Customer List</button>
        <!-- Navbar brand -->

      <!-- Container wrapper -->
    </nav>
  </div>
  <!-- Navbar -->

</div>

