.address-list {
  overflow-y: scroll;
  height: calc(100vh - (58px + 37px));

  .item {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid lightgray;

    &:hover {
      cursor: pointer;
      background-color: darken(#fff, 5%);
      border-color: orange;
      color: black;
    }

    &.selected {
      background-color: darken(#fff, 5%);
      border-color: orange;
      color: black;
    }
  }
}
