.custom-size {
    line-height: 0.1 !important;
    width: 150px;
    color: rgba(0, 0, 0, 0.5);;
}

.custom-size-samstag {
    line-height: 0.1 !important;
    width: 30px;
    color: rgba(0, 0, 0, 0.5);;
}

.btn {
    padding: 0 !important;
}

.active-layer {
    color: white;
}