<div class="bg-white d-flex">
  <div class="adress-container">
    <app-unassigned-address-list
      [unassignedAddresses]="(unassignedAddresses$ | async)"
      (unassignedAddressClicked)="setSelectedUnassignedAddress($event)">
    </app-unassigned-address-list>
  </div>
  <div class="w-100 p-5">
    <app-chosen-address
      (adressChanged)="onAddressChanged($event)"
      [address]="selectedUnassignedAddress"></app-chosen-address>
    <app-synonym-suggestions-list
      (createSynonymClicked)="confirmSynonym($event)"
      (createNewAddressClicked)="createAddress()"
      [listItems]="suggestions"
      [originalItem]="selectedUnassignedAddress"
      (suggestedAddressSelected)="suggestionSelected($event)">
    </app-synonym-suggestions-list>
  </div>
</div>
