.card {
    margin: 10px;
}

.text-uppercase {
  word-break: break-word;
}
.card-body .h5, .card-body .h4, .card-body .text-value, .brand-card-body .h5, .brand-card-body .h4, .brand-card-body .text-value{
    font-size: 0.9rem;
}
