<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h5>trans-o-flex DriverSupport-Info</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-2">
                    <div class="brand-card  h-100">
                        <div class="brand-card-header bg-primary">
                            <i class="fa fa-desktop fa-lg"></i>
                        </div>
                        <div class="brand-card-body">
                            <div>
                                <div class="text-value">DriverSupport</div>
                                <div class="text-uppercase small">{{version}}</div>
                                <div class="text-uppercase small">{{versionr}}</div>
                            </div>
                            <div>
                                <div class="text-value">Server</div>
                                <div class="text-uppercase small">{{versions}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-2">
                    <div class="brand-card  h-100 ">
                        <div class="brand-card-header bg-primary">
                            <i class="fa fa-server fa-lg"></i>
                        </div>
                        <div class="brand-card-body">
                            <div>
                                <div class="text-value">Servername</div>
                                <div class="text-uppercase small">{{applications}}</div>
                            </div>
                            <div>
                                <div class="text-value">Verbindung</div>
                                <div class="text-uppercase small">{{status}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-2">
                    <div class="brand-card h-100">
                        <div class="brand-card-header bg-success">
                            <i class="fa fa-user fa-lg"></i>
                        </div>
                        <div class="brand-card-body">
                            <div>
                                <div class="text-value">Username</div>
                                <div class="text-uppercase small">{{userName}}</div>
                            </div>
                            <div>
                                <div class="text-value">Standort</div>
                                <div class="text-uppercase small">
                                    {{depotName + ' - ' + depotNummer}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-2">
                    <div class="brand-card  h-100">
                        <div class="brand-card-header bg-success">
                            <i class="fas fa-users-cog fa-lg"></i>
                        </div>
                        <div class="brand-card-body">
                            <div>
                                <div class="text-value">Rechte</div>
                                <div class="text-uppercase small">{{rights}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
