.tour-info-container {
  min-width: 200px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  height: auto;
  transition: height 0.5s ease-in-out;
}

.tourNumber {
  font-size: 13px;
}
