<div class="tour-info-container">
  <ng-container *ngIf="tourNr !== '' , else noTour">
    <div class="tourNumber mb-2"><b>Tour {{ tourNr | tourNumber }}</b></div>
    <div class="tourinfo">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2"><i class="far fa-clock"></i></div>
        <progressbar
          class="progress progress-success"
          [value]="tourDuration"
          [max]="maxFahrtzeitInSec">
          <b>{{ tourDuration * 1000 | date: 'H:mm':'UTC' }}</b>
        </progressbar>
      </div>
      <div class="d-flex mt-2 align-items-center">
        <div class="mr-2"><i class="fas fa-business-time" title="Zeit"></i></div>
        <div>{{ resultTimeBeforReloadLine * 1000 | date: 'H:mm': 'UTC' }}</div> &nbsp; - &nbsp; <div>({{ resultTimeAfterReloadLine * 1000 | date: 'H:mm': 'UTC' }})</div>
      </div>
      <div class="d-flex mt-2 align-items-center">
        <div class="mr-2"><i class="fas fa-weight-hanging" title="Gewicht"></i></div>
        <div>{{ tourWeightBeforeReloadline | number }} kg</div> &nbsp; - &nbsp; <div>({{ tourWeightBeneathReloadline | number }} kg)</div>
      </div>
      <div class="d-flex mt-2 align-items-center">
        <div class="mr-2"><i class="fas fa-archive" title="Collis"></i></div>
        <div>{{ colliCountBeforeReloadline }}</div>  &nbsp; - &nbsp; <div>({{ colliCountBeneathReloadline | number }})</div>
      </div>
      <div class="d-flex mt-2 align-items-center">
        <div class="mr-2"><i class="fas fa-pallet" title="Paletten"></i></div>
        <div>{{ paletteCountBeforeReloadline }}</div> &nbsp; - &nbsp; <div>({{ paletteCountBeneathReloadline | number }})</div>
      </div>
    </div>
  </ng-container>
  <ng-template #noTour>
    Keine Tour gewählt
  </ng-template>
</div>
