.table-container {
  height: calc(100vh - 120px);
  background-color: white;
}

.nav-item {
  font-size: 14px;
  color: black;
  border-left: 1px solid darken(#ffffff, 10%);
  border-right: 1px solid darken(#ffffff, 10%);
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
    background: rgb(242, 241, 241);
    background: linear-gradient(180deg, rgba(205, 205, 205, 0.4) 0%, rgba(232, 230, 230, 0) 100%);
    border-left: 1px solid darken(#ffffff, 30%);
    border-right: 1px solid darken(#ffffff, 30%);
  }

  .fa-filter {
    font-size: 12px;
  }
}
