<div class="card">
  <div class="card-body">
    <div style="cursor: pointer" (click)="showTourInfo()">
      <h5 class="card-title">
        Tournummer: &nbsp;{{ tourInfo.tournr | tourNumber }}
        <i class="fa fa-caret-down" *ngIf="!show" aria-hidden="true"></i>
        <i class="fa fa-caret-up" *ngIf="show" aria-hidden="true"></i>
      </h5>
      <hr>
      <p class="card-text">
        Änderungswunsch:
        <b>
          Stopp {{ tourInfo.stoppnr_alt_von }} {{ tourInfo.stoppnr_alt_bis !== 0 ? 'bis ' + tourInfo.stoppnr_alt_bis : '' }}
          auf Stopp: {{ tourInfo.stoppnr_neu }}
        </b>
        - Datum:
        <b> {{ tourInfo.ausliefertag }} - {{ tourInfo.anfrage_zeit }} </b> Uhr.
      </p>
    </div>
    <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
      <app-tour-info-container-detail-table
        [selectedTour]="tourInfo"
      ></app-tour-info-container-detail-table>
    </div>
  </div>
</div>
