/* Add application styles & imports to this file! */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/";*/

html, body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  /*background-color: lightgray;*/
}
