.nav-item {
  font-size: 14px;
  color: black;
  border-left: 1px solid darken(#ffffff, 10%);
  border-right: 1px solid darken(#ffffff, 10%);
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
    background: rgb(242, 241, 241);
    background: linear-gradient(180deg, rgba(205, 205, 205, 0.4) 0%, rgba(232, 230, 230, 0) 100%);
    border-left: 1px solid darken(#ffffff, 30%);
    border-right: 1px solid darken(#ffffff, 30%);
  }

  .fa-filter {
    font-size: 12px;
  }
}

.disabled {
  color: grey;

  &:hover {
    cursor: not-allowed;
  }
}

.active {
  color: #f27e00;
  box-shadow: inset 4px 2px 5px lightgrey !important;
}

.highlighted {
  color: #f27e00 !important;
  box-shadow: none !important;
  &:hover {
    background: linear-gradient(180deg, rgba(205, 205, 205, 0.4) 0%, rgba(232, 230, 230, 0) 100%);
    border-left: 1px solid darken(#ffffff, 30%);
    border-right: 1px solid darken(#ffffff, 30%);
  }
}

