
<div class="table-container">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [localeText]="locale"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [rowData]="rowData"
    (rowClicked)="onRowClicked($event)"
    [rowSelection]="'multiple'"
    (gridReady)="onGridReady($event)"
    [gridOptions]="gridOptions"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    enableCellTextSelection="true"
  >
  </ag-grid-angular>
</div>

<div class="pull-right" style="position: relative; top: 15px">
  <button [disabled]="!isSelectedSynonym" type="button" class="btn btn-primary btn-sm" (click)="seperateClicked()">
    Synonyme herauslösen
  </button>
</div>
