<form>
  <div class="form-group">
    <label class="label-sm" for="inputName">Name</label>
    <input type="text" class="form-control form-control-sm" id="inputName" placeholder="Name">
  </div>
  <div class="form-row">
    <div class="form-group col-10">
      <label class="label-sm" for="inputStreet">Straße</label>
      <input type="text" class="form-control form-control-sm" id="inputStreet" placeholder="Straße">
    </div>
    <div class="form-group col-2">
      <label class="label-sm"  for="inputAddress1">Hausnr</label>
      <input type="text" class="form-control form-control-sm" id="inputAddress1" placeholder="12">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="label-sm" for="inputZip">PLZ</label>
      <input type="text" class="form-control form-control-sm" id="inputZip">
    </div>
    <div class="form-group col-md-8">
      <label class="label-sm" for="inputCity">Ort</label>
      <input type="text" class="form-control form-control-sm" id="inputCity">
    </div>
  </div>
  <button type="submit" class="btn btn-sm btn-primary">Suchen</button>
</form>
